:root {
    --text-main: #f1f1f1;
    --text-sub: #888;
    --text-disabled: #555;

    --background-50: #f1f2f4;
    --background-100: #e2e6e9;
    --background-200: #c5ccd3;
    --background-300: #a9b3bc;
    --background-500: #6f7f90;
    --background-600: #596673;
    --background-700: #434c56;
    --background-800: #2c333a;
    --background-900: #16191d;
    --background-950: #0b0d0e;

    --primary-50: #edeef8;
    --primary-100: #dadef1;
    --primary-200: #b5bde3;
    --primary-300: #909cd5;
    --primary-400: #6b7ac7;
    --primary-500: #4659b9;
    --primary-600: #384794;
    --primary-700: #2a366f;
    --primary-800: #1c244a;
    --primary-900: #0e1225;
    --primary-950: #070912;

    --secondary-50: #e6faff;
    --secondary-100: #cdf4fe;
    --secondary-200: #9aeafe;
    --secondary-300: #68dffd;
    --secondary-400: #35d5fd;
    --secondary-500: #03cafc;
    --secondary-600: #02a2ca;
    --secondary-700: #027997;
    --secondary-800: #015165;
    --secondary-900: #012832;
    --secondary-950: #001419;

    --accent-50: #fff6e5;
    --accent-100: #ffedcc;
    --accent-200: #ffdb99;
    --accent-300: #ffc966;
    --accent-400: #ffb833;
    --accent-500: #ffa600;
    --accent-600: #cc8500;
    --accent-700: #996300;
    --accent-800: #664200;
    --accent-900: #332100;
    --accent-950: #1a1100;

    --header-height: 72px;
    --footer-height: 144px;

    --rounded-corners: 8px;

    --anim-duration-default: 200ms;
    --anim-type-default: ease-in-out;
    --anim-offset-default: 50ms;

    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.2rem);
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-950);
    color: var(--text-main);
    font-family: sans-serif;
}

a {
    color: var(--primary-600);
    text-decoration: none;
    transition: color var(--anim-duration-default);
}

a:hover {
    color: var(--primary-400);
}

hr {
    margin: 1em 0;
}

input,
textarea {
    margin-top: 1em;
    padding: 0.5em;
    background: var(--background-900);
    outline: none;
    border: 1px solid currentColor;
    border-radius: var(--rounded-corners);
    color: var(--text-main);
    font-family: 'Fira Code', monospace;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
    color: var(--primary-300);
}

input::placeholder,
textarea::placeholder {
    color: var(--text-sub);
}

.container {
    height: 100%;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

.branding {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.branding img {
    height: clamp(1rem, 7.5vw, var(--header-height));
}

/* Buttons */
button,
.btn {
    background-color: transparent;
    color: var(--text-main);
    border: 1px solid var(--text-main);
    border-radius: var(--rounded-corners);
    padding: 0.5em;
    transition: var(--anim-duration-default) var(--anim-type-default);
}

button.primary,
.btn.primary {
    background-color: var(--primary-600);
    border: none;
    color: var(--secondary-500);
}

button.primary:hover,
.btn.primary:hover {
    background-color: var(--secondary-500);
    color: var(--background-950);
}

button.secondary,
.btn.secondary {
    background-color: var(--accent-500);
    border: none;
    color: var(--background-950);
}

button.secondary:hover,
.btn.secondary:hover {
    background-color: var(--background-950);
    color: var(--accent-400);
}

button.danger,
.btn.danger {
    background-color: #d44;
    border: none;
    color: var(--text-main);
}

button.danger:hover, .btn.danger:hover {
    background-color: #f22;
    color: var(--background-950);

}

/* Header */
header {
    padding: 1em;
    border-bottom: 1px solid var(--background-200);
}

/* Main Content */
.main-content {
    display: flex;
    flex-flow: row nowrap;

}

/* Sidebar */
.main-content aside {
    flex: 0 0 clamp(125px, 25vw, 300px);
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    padding: 1em 2em;
    border-right: 1px solid var(--background-200);
}

.sidebar ul {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 700;
}

.sidebar .copyright {
    color: var(--text-sub);
    font-style: italic;
    text-align: center;
    font-size: 0.6rem;
    line-height: 1em;
}

/* Main */
.main-content main {
    flex: 0 1 100%;
    padding: 2em 4em;
    background: var(--background-900);
}

main section {
    display: flex;
    flex-flow: column nowrap;
}

main section .controls {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.25em;
    align-items: center;
    padding-top: 1em;
}

main #charCounter .controls {
    display: grid;
    grid-template-columns: 1fr max-content;
}

main section .message {
    font-size: 0.8rem;
}

/* Domain */
#domainParser textarea#domainList {
    height: 650px;
}

/* String Counter */
#charCounter p#charCount {
    flex: 0 0 125px;
    display: flex;
    gap: 0.5rem;
}

/* Footer */
footer {
    padding: 4em 0;
    border-top: 1px solid var(--background-200);
}

footer .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: start;
}

footer .branding {
    align-self: center;
}

footer .site-map,
footer .social-links {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

footer a {
    display: flex;
    gap: 0.5em;
    align-items: center;
}